/*Applied to all pages*/
h1{
    size:24px;
    font-weight:bold;
    text-align:center;
    margin-top:20px;
}

h2{
    size:20px;
    font-weight:normal;
}

p{
    size:16px;
    word-spacing:3px;
}

h1, h2, li, p{
    font-family:Arial, Helvetica, sans-serif;
}

/*Icons*/

.icons{
    text-align:right;
    margin-right:10px;
    margin-top:none;
}

/*Different aspects*/
/*Apply to the whole hyperlink bar*/
.main-navigation a{
    size:16px;
    font-family:Arial, Helvetica, sans-serif;
  }
  
  /*Make sure the text are 45px apart*/
  .top{
    padding-left:5.5%;
    padding-top:20px;
    padding-bottom:20px;
  }
  
    .top a{
      color: #fff;
      display: block;
      text-decoration:none;
    }
  
  /*The logo is floating left*/
  .logo{
    display:inline-block;
  }
  
  /*Icons at the top of the navigation*/
  .icons{
      text-align:right;
      margin-right:10px;
      margin-top:none;
  }
  
  ul {
      list-style: none;
      padding: 0;
      margin: 0;
      background: black;
      z-index:2;
  }

  li a:hover{
    color:#f6a456;
  }
  
  ul li {
      position: relative;
      float: left;
      background:black;
  }

  ul ul{
    margin-top:15px;
  }
  
  li ul { display: none; }
  
  ul li ul a {
    display: block;
    padding:1em;
    padding-top:17.5px;
    white-space: nowrap;
    color: #fff;
  }

  ul li ul li ul a{
    padding-top:10px;
    list-style-type:circle;
    display:block;
  }
  
  li:hover > ul {
    display:inline-block;
    position: absolute;
  }

  li:hover li { float: none; }
  .main-navigation li ul li { border-top: 0; }
  
  ul ul ul {
    left: 100%;
    top: 0;
  }

  
  ul:before,
  ul:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  ul:after { clear: both; }

/*Code for changing the arrow's colour*/
/* Hiding the second picture right away */
.change_photo{
  margin-bottom:10px;
}

.change_photos .change_photo:nth-of-type(2) {
    display: none;
  }
  
  /* When you hover your cursor over the parent change_photos class, the first picture is hidden, and the second is shown */
  
  .change_photos:hover .change_photo:nth-of-type(1) {
    display: none;
  }
  
  .change_photos:hover .change_photo:nth-of-type(2) {
    display: block;
  }
  
  .change_photos:hover {
    cursor: pointer;
  }

/*The collaspible section applied to all pages*/
.collapsible{
  background-color:#f0f2f5;
  border:1px solid black;
  text-align:left;
  color:black;
  cursor:pointer;
  width:100%;
  font-size:20px;
  max-width:15cm;
}

.collapsible:hover{
  color:orange;
}

  .content{
    display:none;
  }

  .content li{
    margin-left:2.5%;
    margin-top:1.5%;
  }

/*Telling the user that this component have yet not released*/
.updates_info{
  position:relative;
  display:inline-block;
  cursor:pointer;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.updates_info .updates_info_text{
  visibility:hidden;
  color:black;
  z-index:1;
  top:100%;
}

.updates_info .updates_into_text::after{
  content:"";
  position:absolute;
}

/*Hide and show*/
.updates_info .show{
  visibility:visible;
  -webkit-animation:fadeIn 1s;
  animation: fadeIn 1s;
}

  /*Animation*/

  @keyframes fadeIn{
    from {opacity:0;}
    to {opacity:1;}
  }

/*Two horizontal element design*/
.horizontal_flex{
  display:flex;
  flex-direction:column;
}

.horizontal_flex > div{
  margin:5%;
  padding:5%;
  font-size:12px;
}

/*Smaller text in the sub-bullet point for the reader to understand*/
li.small_bullet{
  font-size:14px;
}
