/*This design is applied to all other Rules page*/

/*The heading for the introduction section*/

h3{
    color:#1dc3e8;
}

p{
    size:16px;
}

/*I seperate the rules into several components*/
.rules_grid{
    display:grid;
    margin-left:10px;
}

    .rules_grid h2{
        font-weight:bold;
    }
/*Clicked to access more rules*/
.rules_extension{
    grid-row:1/2;
    grid-column:1/2;
    border:2px solid black;
    padding-right:0px;
    margin-right:10px;
    max-height:4cm;
    max-width:4cm;
    background-color:#ededed;
}

    .rules_extension h2{
        padding-left:10px;
        text-align:center;
        max-width:5px;
    }

/*Introduction text*/
.rules_intro{
    margin-left:100px;
    grid-row:1/2;
    grid-column:2/3;
    max-width:45cm;
}

    .rules_intro p{
        /*Restrict the text length*/
        max-width:10cm;
        font-family:Arial, Helvetica, sans-serif;
        font-size:16px;
    }

    .rules_intro li{
        max-width:10cm;
        font-family:Arial, Helvetica, sans-serif;
        list-style-position:inside;
        
    }

/*Referee signal if included*/
.rules_diagram{
    grid-row:1/2;
    grid-column:3/4;
    height:75px;
    width:20px;
    margin-bottom:400px;
    text-align:center;
    padding-left:100px;
}

/*Extra notes explaination*/
.rules_notes{
    grid-row:2/3;
    grid-column:2/3;
    margin-left:100px;
}

    .rules_notes p{
        color:black;
        font-family:Arial, Helvetica, sans-serif;
        max-width:12cm;
    }

/*Explainatory video*/
.rules_video{
    grid-row:2/3;
    grid-column:3/4;
    margin-bottom:20px;
}