

.news_grid{
    padding-top:20px;
    display:grid;
    padding-bottom:none;
}

/*Expansion link*/
.news_grid a{
    color:blue;
    padding-bottom:10px;
    text-decoration:none;
    text-align:right;
}

.news1{
    float:center;
    padding-top:10px;
    padding-left:10px;
    margin-left:100px;
    height:75%;
    overflow-x:hidden;
    overflow-y:scroll;
    grid-row:1/2;
    grid-column:1/2;
    border:solid black;
    border-spacing:5px right;
    /*Space between the top and bottom news*/
    margin-bottom:50px;
    width:75%;
}

.news2{
    float:right;
    padding-top:10px;
    padding-left:10px;
    margin-right:100px;
    margin-bottom:50px;
    grid-row:1/2;
    grid-column:2/3;
    border:solid black;
    overflow:hidden;
    width:75%;
    height:75%;
}

.news3{
    grid-row:2/3;
    grid-column:1/2;
    padding-top:10px;
    padding-left:10px;
    margin-left:100px;
    border:solid black;
    overflow:hidden;
    width:75%;
    height:75%;
}

.news4{
    grid-row:2/3;
    grid-column:2/3;
    padding-top:10px;
    padding-left:20px;
    margin-right:100px;
    border:solid black;
    overflow:hidden;
    width:75%;
    height:75%;
}

/*The link the user can click to direct towards the complete page*/
.news a{
    color:blue;
    cursor:pointer;
}

.news a:hover{
    color:#f6a456;
}

/*Arrow to go to the next page*/
.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: auto;
    background-color: #d6d6d6;
    top:5;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
  }
  
    .sidepanel a {
        text-decoration: none;
        font-size: 25px;
        top:0;
        color:black;
        transition: 0.3s;
        padding-left:10px;
    }
    
    .sidepanel a:hover {
        color: #f1f1f1;
    }
    
    .sidepanel .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 20px;
    }
    
    .openbtn {
        font-size: 20px;
        cursor: pointer;
        color: black;
        padding: 10px 15px;
        border: none;
        text-align:center;
    }
    
    .openbtn:hover {
        background-color:#444;
    }

    /*Make the dot vertically align*/

    /*The dot the user clicked on to switch pages*/
    .interview_dot{
        display:flex;
        cursor: pointer;
        height: 15px;
        width: 15px;
        display:inline-block;
        color:black;
        flex-direction:row;
    }

.mySlides {display:none;}

.interviews_display_container{
    position:relative;
    overflow:hidden;
}

.pages{
    transition-duration:2s;
    animation:fading 3s
}

@keyframes fading{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/*The arrow to switch pages*/
.prev{
    cursor:pointer;
    float:left;
}

.next {
    cursor:pointer;
    float:right;
}

/* Hiding the second picture right away */
.change_photos .change_photo:nth-of-type(2) {
    display: none;
  }
  
  /* When you hover your cursor over the parent change_photos class, the first picture is hidden, and the second is shown */
  
  .change_photos:hover .change_photo:nth-of-type(1) {
    display: none;
  }
  
  .change_photos:hover .change_photo:nth-of-type(2) {
    display: block;
  }
  
  .change_photos:hover {
    cursor: pointer;
  }
